body{
    background-color: #b4d3dd;
}

h1{
    text-transform: uppercase;
}

h1, h2 {
    text-align: center;
}

li{
    border-bottom: 1px solid #CCC;
    padding-bottom: 1rem;
}

.row {
    margin: 2rem auto;
    padding: 2rem;
    width: 70%;
    border: 1px solid #CCC;
    border-radius: 7px;
    background-color: #FFF;
}
.delete-item,
.delete-item:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}